<header class="header-sec">
    <div class="topheader">
      <div class="container">
        <div class="logo">
          <img src="../../assets/images/logo-small.png" alt="">
        </div>
        <div class="menulist">
          <ul>
            <li><a href="" routerlink="/home">Home</a></li>
            <li><a href="" routerlink="/postdetails">Specialities</a></li>
            <li><a href="" routerlink="/postdetails">Prevention</a></li>
            <li><a href="" routerlink="/postdetails">Innovation</a></li>
            <li><a href="" routerlink="/postdetails">Pharmacy</a></li>
            <li><a href="" routerlink="/postdetails">More</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="subheader">

    </div>
</header>